<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aeroBlog: Review tất cả mọi thứ</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="head">
      <div id="title">
        <h1>aeroBlog - review tất cả mọi thứ</h1>
      </div>
      <nav id="nav-bar">
        <a href="/about">About</a>
        <a href="/reviews">Reviews</a>
        <a href="/log-in">Login</a>
        <a href="/sign-in">Signin</a>
      </nav>
    </div>
    <div class="description big dark">
      <div class="info left">
        <h2>aeroBlog là gì?</h2>
        <p>
          aeroBlog là nơi bạn có thể chia sẻ những trải nghiệm của bản thân về
          cuộc sống dựa trên những đánh giá và nhận xét của mình. Dựa trên cơ
          chế xếp hạng theo tag, mọi người sẽ cùng đánh giá, nhận xét và chọn ra
          top 1 của từng tag.
        </p>
      </div>
    </div>
    <div class="description light">
      <div class="info right">
        <h2>Tạo bài viết linh động</h2>
        <p>
          Tạo bài viết và đánh giá tất cả mọi thứ mà bạn muốn. Từ quán cafe đến
          cái dép của bạn, tất cả mọi thứ đều có thể đánh giá trên thang điểm
          10!
        </p>
      </div>
    </div>

    <div class="description dark">
      <div class="info left">
        <h2>Tạo tài khoản dễ dàng</h2>
        <p>
          Chỉ cần vài cái click chuột và tài khoản của bạn được tạo một cách
          nhanh chóng không mất tí tiền nào! Có thể tạo tài khoản thông qua
          facebook và google để thuận tiện hơn khi đăng nhập
        </p>
      </div>
    </div>

    <div class="description light">
      <div class="info right">
        <h2>Bình xét và đánh giá</h2>
        <p>
          Thoải mái đưa ra bình luận và đánh giá thêm về bài viết của tất cả mọi
          người. Bạn có thể bình luận ẩn danh để tránh bị đánh - violent free!
        </p>
      </div>
    </div>

    <div class="description dark">
      <div class="info left">
        <h2>
          cảm ơn tất cả mọi người đã dánh thời gian xem qua chiếc web của mình
          ạ!
        </h2>
        <p>
          Đây là dự án thứ 2 của mình, còn nhiều sai sót nên mong mọi người nếu
          thấy có bugs hãy báo giúp em ạ, thankiu mọi người!
        </p>
      </div>
    </div>
  </body>
</html>
